{% extends 'base.html' %}

{% block content %}
    <h3 class="my-3">{% block title %} 歡迎來到小吃部，請問您今天想點什麼？ {% endblock %}</h3>
    <div class="row row-cols-1 row-cols-md-2 g-4">
    {% for item in menu %}
        <div class="col-4 mb-3 g-1">
            <div class="card h-100">
                <a href="{{ url_for('item', item_id=item['id']) }}">
                    <img src="{{ item['img'] }}" class="card-img-top" alt="{{ item['title'] }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ item['title'] }}</h5>
                        <p class="card-text">${{ item['price'] }}</p>
                    </div>
                </a>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}